VITE_GOOGLE_MAPS_API_KEY=""
VITE_SUPABASE_PROJECT_ID="mzyyvrspsfzurwfbnnjc"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16eXl2cnNwc2Z6dXJ3ZmJubmpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMDMwNDgsImV4cCI6MjA4Nzc3OTA0OH0.IMUS2wSIykI9PdNxIbMH-VbkMeH8vxXz60FXC6ba5WA"
VITE_SUPABASE_URL="https://mzyyvrspsfzurwfbnnjc.supabase.co"
